.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  max-width: 90%;
  margin: auto;
  overflow-y: auto;
  max-height: 70vh;
  padding: 20px;
}

.category-card {
  flex: 1 1 calc(20% - 20px);
  max-width: calc(20% - 20px);
  min-width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

app-nav-bar {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 15px 15px;
}