.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8e1e7;
  padding: 10px 20px;
  height: 50px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header h1 {
  font-size: 20px;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}