.url-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f8f1f1;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.default-circle {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 50%;
}

.card-content {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.favorite-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.favorite-btn .filled {
  color: gold;
}

.url-card {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.url-card:hover {
  background-color: rgba(233, 143, 203, 0.344);
}

.favorite-btn span {
  pointer-events: none;
}